
#nav_logo {
			float:left;
		}
		#nav_logo img{ 
			display: block;
			width: 80px;
			max-height:80px;
			padding:05px;
		
		}
#hImage{
	width:98%;
	height:500px;
	
}
#bg
{
       margin:200px 0px 0px 0px;
		background-color:#64A183 ;   
		 clear:both;
}
#bg1
{
       margin:10px 0px 0px 0px;
		background-color:#64A183 ; 
		 clear:both;
}
#bg2
{
       margin:10px 0px 0px 0px;
		background-color:#64A183 ;   
		 clear:both;
}
#SImage{
	float:left;
	   
}
     #SImage video{
	     height:500px;
	     width:600px;
	     padding: 00px 0px 0px 0px;
		 margin:0px 20px 0px 25px;
		 
    }
	#SImage1{
	float:left;
	   
}
     #SImage1 img{
	     height:430px;
	     width:600px;
	     padding: 55px 0px 0px 0px;
		 margin:0px 20px 0px 25px;
		 
    }
	#Txt{
		text-align:justify;
		font-family: 'Rubik', sans-serif,arial,helvetica;
		padding:20px 0px 0px 5px;
		width:95%;
		font-size:17px;
		 color:white;
	}
	
	
	    
	
	video{
		
		padding:0px 0px 0px;
		margin:20px;
	}
	 th{border:1x solid black;
 background-color:#C2ECD2;}

 table{background-color:#2FAC78;
      border-collapse:collapse;
      width:100%;
}
th,td{padding:15px;}

table,th,td{text-align:center;}

h1,td{color:white;
font-family: 'Rubik', sans-serif,arial,helvetica;
text-align:left;
 font-size:18px;
};
th{color:white;
    font-size:20px;
	font-family: 'Rubik', sans-serif,arial,helvetica;
	text-align:left;
}

th, td {
  border-bottom: 1px solid #76AE97;
}
table {
  border: 0.5px solid #76AE97 ;
 
  
  
}


tr:hover{
   background-color:black;
}

div.first {
  opacity: 0.1;
}



	   #back a{
	 font-weight:bold;
	 font-size:18px;
	 text-align: right;
		text-decoration:none;
		color:black;
		background: #64A183;
		padding:20px 40px 25px 50px;
		border-radius:100px;

	}
	 .footer-bg{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    position: absolute;
    bottom:0px 0;
    left: px;
    right: 0px;
    background: #111;
    height: auto;
    width: 100vw;

    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 0px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
padding:0px 0 0 30px;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 30px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}


/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
 display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
 padding-right:50px;
}



@media (min-width:50px) and (max-width: 500px) {
.menu { 
 display:none;
 position: absolute;
 background-color:teal;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}
.menu li:hover {
 display: inline-block;
 background-color:#4c9e9e;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}
.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}
.dropdown li:hover {
 background-color: #4c9e9e;
}
 #back a{
	 font-weight:bold;
	 font-size:15px;
	 text-align: justify;
		text-decoration:none;
		color:black;
		background: #64A183;

		padding:10px 20px 10px 40px;
		border-radius:70px;

	}
	#hImage{
	width:250px;
	height:500px;
	
}
	
	#bg{
       margin:200px 0px 0px 0px;
		background-color:#64A183 ;  
		width:100%;
		
}
#SImage{
	float:left;
	   
}
     #SImage img{
	     height:400px;
	     width:200px;
	     padding: 20px 0px 0px 0px;
		 margin:0px 20px 0px 0px;
		 
    }
	#SImage1{
	float:left;
	   
}
     #SImage1 img{
	     height:430px;
	     width:350px;
	     padding: 25px 0px 0px 0px;
		 margin:0px 20px 0px 05px;
	 }
		 
#Txt{
		text-align:justify;
		font-family: 'Rubik', sans-serif,arial,helvetica;
		padding:10px 0px 0px 15px;
		width:80%;
		font-size:14px;
		 color:white;
	}
	video{
		width:50%;
		height:200px;
		padding:0px 0px 0px;
		 margin:00px 0px 0px 0px;
	}
	iframe{
		width:100%;
	}
 

 table{
	 background-color:#64A183;
      border-collapse:collapse;
      width:50%;

	  
	  
}
th,td{padding:15px;}


th{
	 color:black;
}

	 td{
		color:white;
		font-size:10px;
		font-weight:bold;
		text-align:justify;

       }

th{
	 color:black;
	 font-size:15px;
	

}

th, td {
  border-bottom: 1px solid #76AE97;
  border-right: 2px solid #76AE97;
}
table {
  border: 0.5px solid #76AE97 ;
  
}


tr:hover{
   background-color:black;
}

 table img{
	width:65%;
	height:120;

}
}


@media (min-width:501px) and (max-width: 750px) {

 #back a{
	 font-weight:bold;
	 font-size:15px;
	 text-align: justify;
		text-decoration:none;
		color:black;
		background: #64A183;

		padding:10px 20px 10px 40px;
		border-radius:70px;

	}

	
	#bg{
       margin:200px 0px 0px 0px;
		background-color:#64A183 ;  
		width:100%;
		
}
#SImage{
	float:left;
	   
}
     #SImage img{
	     height:400px;
	     width:200px;
	     padding: 20px 0px 0px 0px;
		 margin:0px 20px 0px 0px;
		 
    }
	#SImage1{
	float:left;
	   
}
     #SImage1 img{
	     height:350px;
	     width:670px;
	     padding: 25px 0px 0px 0px;
		 margin:0px 20px 0px 05px;
	 }
		 
#Txt{
		text-align:justify;
		font-family: 'Rubik', sans-serif,arial,helvetica;
		padding:10px 0px 0px 15px;
		width:80%;
		font-size:14px;
		 color:white;
	}
	video{
		width:50%;
		height:200px;
		padding:0px 0px 0px;
		 margin:00px 0px 0px 0px;
	}
	iframe{
		width:100%;
	}
 

 table{
	 background-color:#64A183;
      border-collapse:collapse;
      width:50%;

	  
	  
}
th,td{padding:15px;}


th{
	 color:black;
}

	 td{
		color:white;
		font-size:10px;
		font-weight:bold;
		text-align:justify;

       }

th{
	 color:black;
	 font-size:15px;
	

}

th, td {
  border-bottom: 1px solid #76AE97;
  border-right: 2px solid #76AE97;
}
table {
  border: 0.5px solid #76AE97 ;
  
}


tr:hover{
   background-color:black;
}

 table img{
	width:65%;
	height:120;

}
}

@media (min-width:751px) and (max-width: 999px) {

 #back a{
	 font-weight:bold;
	 font-size:15px;
	 text-align: justify;
		text-decoration:none;
		color:black;
		background: #64A183;

		padding:10px 20px 10px 40px;
		border-radius:70px;

	}

	
	#bg{
       margin:200px 0px 0px 0px;
		background-color:#64A183 ;  
		width:100%;
		
}
#SImage{
	float:left;
	   
}
     #SImage img{
	     height:400px;
	     width:1500px;
	     padding: 20px 0px 0px 0px;
		 margin:0px 20px 0px 0px;
		 
    }
	#SImage1{
	float:left;
	   
}
     #SImage1 img{
	     height:350px;
	     width:800px;
	     padding: 25px 0px 0px 0px;
		 margin:0px 20px 0px 05px;
	 }
		 
#Txt{
		text-align:justify;
		font-family: 'Rubik', sans-serif,arial,helvetica;
		padding:10px 0px 0px 15px;
		width:90%;
		font-size:18px;
		 color:white;
	}
	video{
		width:100%;
		height:200px;
		padding:0px 0px 0px;
		 margin:00px 0px 0px 0px;
	}
	iframe{
		width:100%;
	}
 

 table{
	 background-color:#64A183;
      border-collapse:collapse;
      width:50%;

	  
	  
}
th,td{padding:15px;}


th{
	 color:black;
}

	 td{
		color:white;
		font-size:10px;
		font-weight:bold;
		text-align:justify;

       }

th{
	 color:black;
	 font-size:15px;
	

}

th, td {
  border-bottom: 1px solid #76AE97;
  border-right: 2px solid #76AE97;
}
table {
  border: 0.5px solid #76AE97 ;
  
}


tr:hover{
   background-color:black;
}

 table img{
	width:65%;
	height:120;

}
}


@media (min-width: 1000px) and (max-width: 1280px)
{
	{

	}

#bg
{
       margin:200px 0px 0px 0px;
		background-color:#64A183 ;   
		
#bg1
{
       margin:10px 0px 0px 0px;
		background-color:#64A183 ; 
		
}
#bg2
{
       margin:10px 0px 0px 0px;
		background-color:#64A183 ;   
		
}
#SImage{
	float:left;
	   
}
     #SImage video{
	     height:500px;
	     width:600px;
	     padding: 00px 0px 0px 0px;
		 margin:0px 00px 0px 25px;
		 
    }
	#SImage1{
	float:left;
	   
}
     #SImage1 img{
	     height:430px;
	     width:3100px;
	     padding: 55px 0px 0px 0px;
		 margin:0px 20px 0px 25px;
		 
    }
	#Txt{
		text-align:justify;
		font-family: 'Rubik', sans-serif,arial,helvetica;
		padding:40px 0px 0px 5px;
		width:95%;
		font-size:17px;
		 color:white;
	}
	
	
	    
	
	video{
		
		
	}
	iframe{
		width:150%;
	}
 

 th{border:1x solid black;
 background-color:#C2ECD2;
   }

 table{
	 
	 background-color:#64A183;
      border-collapse:collapse;
      width:60%;
	  
	  margin:0px 0px 0px 200px;
}
th,td{padding:15px;}

table,th,td{text-align:center;

}
th{
	 color:black;
}

	 td{
		color:white;
		font-size:18px;
		font-weight:bold;
		text-align:justify;

       }

th{
	 color:black;
	 font-size:20px;
	

}

th, td {
  border-bottom: 1px solid #76AE97;
  border-right: 2px solid #76AE97;
}
table {
  border: 0.5px solid #76AE97 ;
  
}


tr:hover{
   background-color:black;
}

 table img{
	width:45%;
	height:120;


}
	   #back a{
	 font-weight:bold;
	 font-size:18px;
	 text-align: right;
		text-decoration:none;
		color:black;
		background: #64A183;
		padding:20px 40px 25px 50px;
		border-radius:100px;

	}
}